/* Body */

/* Header */

.pentagon {
   display: flex;
   justify-content: flex-end;
}

.pentagon img {
    width: 100px;
    margin-right: 30px;
    margin-top: 10px;
} 

/* Hello */

 .hello {
     text-align: center;
     margin: auto;
     
     padding: auto 0;
 }

 .hello h1 {
     font-size: 50px;
     margin-left: 10px;
     margin-right: 10px;
 }

 .hello p {
     font-size: 13pt;
     margin-left: 10px;
     margin-right: 10px;
 }

 .emoji {
     font-size: 40px;
 }

/* Accordion */

.accordion {
   max-width: 1000px;
   margin: 0 auto;
   margin-top: 50px;
}

.card {
    border: none;
    border-radius: 0;
    margin: 10px;
    background-color: #fff154
}

.card-header {
    text-align: center;
    border: none;
    background-color: #fff154;
}

.skills img {
    width: 600px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.skills-text {
    font-size: 20pt;
    font-weight: bold;
    line-height: 50px;
}

.projects {
    text-align: center;
}

.projects img {
    width: 40%;
    display: inline-block;
    margin: 0 auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.projects .btn {
    font-size: 20pt;
    margin: -3px;
}


.contact {
    text-align: center;
}

/* Footer */

.footer {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
